<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>      
        <defaultEventsIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider" patch:source="Sitecore.FXM.Lucene.DomainsSearch.DefaultIndexConfiguration.config">
          <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
            <indexAllFields>false</indexAllFields>
            <include hint="list:AddIncludedTemplate">
<!--Include templates in the index-->
              <EventDetails>{FAA70993-D6D8-441F-9DFE-32E44B71744D}</EventDetails>
            </include>
            <include hint="list:AddIncludedField">
              <!--Include fields in the index-->
<!--End Added Custom Fields-->
              <contentheading>{1384A77F-8E0C-40BA-B628-3C5ED330DD86}</contentheading>
              <contentintro>{AE97D6D0-6BC0-4395-B623-4DBD705C3C18}</contentintro>
              <startdate>{D3355E3F-5A74-48D8-9077-DC53163DB895}</startdate>
              <!--End Added new Custom Fields-->
            </include>
<!--Added Computed Field-->
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="urllink">TAC.Utils.Search.UrlComputedField, TAC.Utils</field>
            </fields>
<!--End Added new Computed Field-->
          </documentOptions>
          <initializeOnAdd>true</initializeOnAdd>
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <!-- How fields should be indexed -->
              <field fieldName="_templatename" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="_uniqueid"            storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
<!--Added new Custom Fields-->
              <field fieldName="contentheading" storageType="YES" indexType="TOKENIZED"   vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
              <field fieldName="contentintro" storageType="YES" indexType="TOKENIZED"   vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
              <field fieldName="start date" storageType="YES" indexType="TOKENIZED"   vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
<!--End Added new Custom Fields-->
<!--Added new Computed Field-->
              <field fieldName="urllink" storageType="YES" indexType="No"   vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
<!--End Added new Computed Field-->
            </fieldNames>
          </fieldMap>
          <!-- **** Inherited default configuration **** -->
          <analyzer ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/analyzer" />
          <fieldReaders ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldReaders" />
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexFieldStorageValueFormatter" />
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexDocumentPropertyMapper" />
          <documentBuilderType ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/documentBuilderType" />
        </defaultEventsIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>