@model events.tac.local.Models.AnyModel

<p class="text-muted">Duration: @Model.Heading</p>
<p class="text-muted">Start Date: @Model.Intro</p>

<hr />
<hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr />


